@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Pangolin", cursive;
  font-weight: 600;
  font-style: normal;
}

.main {
  width: 100vw;
  height: 100vh;
  /*background-image: url("./assets/test.jpeg");*/
  /*background-repeat: repeat;*/
  /*background-color: bisque;*/
  /*background-position: 0 10px;*/
  background: radial-gradient(circle, rgba(255,228,196,1) 0%, rgba(255,228,196,1) 47%, rgba(244,114,182,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  border-radius: 8px;
  font-size: 24px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);


}

.btn-container {
  width: 150px;
  margin: 0 auto;
  margin-top: 24px;
  display: flex;
  gap: 24px;
  justify-content: flex-start;
}

.yes, .no {
  cursor: pointer;
}

.yes {
  background-color: rgba(245, 40, 145, 0.8);
  color: white;
  padding: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-sizing: border-box;
  border: 0;
  transition: all .2s;
}

.no {
  background-color: rgba(245, 40, 145, 0.8);
  color: white;
  padding: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-sizing: border-box;
  border: 0;
  transition: all .4s;
}

.yes:hover, .no:hover {
  background-color: rgba(245, 40, 145, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.yes:focus, .no:focus {
  outline: none;
}